

#CatigorySlider .card{
    border: none;
    border-radius: none;
    height: auto;
    background-color: #ffffff;

  }


  .cardBody{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

#CatigorySlider img{
    border-radius: 10px;
    height: 100px !important;
    width:100%!important;
}
#CatigorySlider p{
    font-size: 1rem !important
}

  @media (max-width: 768px) {
#CatigorySlider p{
        font-size: 1.2rem !important
}

#CatigorySlider img{
    border-radius: 10px;
    height: 150px !important;
    width:100%!important;
}

  }




  .react-multi-carousel-dot button {
    
    background-color: #a4a8a5 !important;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 15px;
  
  }
  
  .react-multi-carousel-dot--active button {
    background-color: #ff0000 !important; /* اللون عند التفعيل */
  }




